/*
 Input
*/
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='tel'],
select,
textarea {
    display: block;
    width: 100%;
    padding: rem(10);

    color: $color-dark;

    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 0; // Mobile Safari reset
    box-shadow: none; // Reset for Firefox
    outline: none;

    appearance: none;


    // States
    &:focus {

    }

    &:disabled {
        cursor: not-allowed;

        opacity: 0.2;
    }


    // Elements
    &::placeholder {

    }

    // When the input is empty
    &:placeholder-shown {

    }
}

textarea {
    max-width: 100%;
    max-height: rem(500);
}

select {
    height: rem(40);
    padding-right: rem(40);

    background-image: url($folder-icon/arrow-dropdown.svg);
    background-position: right center;
    background-repeat: no-repeat;
}
